.footer {
    padding: 50px 0 80px 0;
    background: #2F303B;

    p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
        display: inline-block;
        margin-right: 20px;
    }
}
