.header__right {
    margin-left: auto;
}
.header__logo {
    background: url("/resources/images/logo/logo.svg") no-repeat;
    background-size: 100%;
    width: 120px;
    height: 66px;
    margin-right: 50px;
}
.header {
    padding: 15px 0;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
