.tabs {
    display: flex;
}
.tab {
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    padding: 12px 26px;
    border-radius: 50px;
    background: #383946;
    margin-right: 20px;
    cursor: pointer;
    transition: all .1s;
    font-weight: 600;

    &:last-child {
        margin-right: 0;
    }

    &.active {
        background: #466848;
    }

    &:hover {
        background: #466848;
    }
}
.tab-content {
    display: none;

    &.show {
        display: block;
    }
}
